/*全局样式表*/
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #acfff2 !important; /*记住密码的字的颜色*/
  transition: background-color 5000s ease-in-out 0s; /*延时渲染背景色来去除背景色*/
  caret-color: #acfff2; /*光标颜色*/
}

input:focus {
  /*外边框线去除*/
  outline: none;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 16px;
}

.el-pagination {
  margin-top: 15px;
  text-align: center;
}
